{% extends "base.html" %}

{% block title %} 
    {% if is_editing %}Edit post{% else %}New post{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <section class="edit-post"> 
            
            <form method="POST" action="
            {% if is_editing %}
                {{ url_for('posts.edit', url_slug=post.post_url_slug) }}
            {% else %}
                {{ url_for('posts.edit', parent_id=parent_id) }}
            {% endif %}">

                <input type="text" name="title" placeholder="Title" class="post-title" value="{{ post.post_title }}" required>
                <textarea name="body" placeholder="Main Text" class="post-body" required>{{ post.post_body }}</textarea>
                <input type="text" name="url_slug" placeholder="URL Slug" class="url-slug" value="{% if is_editing %}{{ post.post_url_slug.split('/')[-1] }}{% endif %}" required>

                <h1>Choose Tags</h1>
                {% for tag in tags %}
                <label>
                    <input type="checkbox" name="tags" value="{{ tag.tag_name }}"
                        {% if tag in selected_tags %}checked{% endif %}> {{ tag.tag_name }}
                </label>
                <br>
                {% endfor %}

                <div class="buttons">
                    <button type="submit" name="action" value="submit">Submit</button>
                    {% if is_editing %}
                        <button type="submit" name="action" value="delete">Delete</button>
                    {% endif %}
                </div>

            </form>

        </section>


    </div>
{% endblock %}
