{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <section class="register-form">
            <h1 class="register-title">Register</h1>
            <form method="POST" action="{{ url_for('authentication.register') }}">
                <input type="text" name="username" placeholder="Username" class="register-input" required>
                <input type="email" name="email" placeholder="Email" class="register-input" required>
                <input type="password" name="password" placeholder="Password" class="register-input" required>
                <input type="password" name="repeat_password" placeholder="Confirm Password" class="register-input" required>
                <button type="submit" class="register-button">Register</button>
            </form>
            <p class="login-link">Already have an account? <a href="{{ url_for('authentication.login') }}">Log in</a></p>
        </section>

    </div>
{% endblock %}
