{% extends "base.html" %}

{% block title %}CMS{% endblock %}

{% block content %}
    <div class="container">
        <section class="edit-post"> 
            
            <form method="POST" action="
            {{ url_for('posts.tags') }}">

                <input type="text" name="tag_name" placeholder="Tag name" class="post-title" required>

                <div class="buttons">
                    <button type="submit" name="action" value="submit">Submit</button>
                </div>

            </form>
        </section>

        {% if tags %}
        <section class="posts">
            {% for tag in tags %}
            <div class="post">
                <div class="title"><a href="{{ url_for('posts.edit_tag', tag_name=tag.tag_name) }}">{{ tag.tag_name }}</a>
                </div>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <h1 class="header">There's no tags right now</h1>
        {% endif %}
    </div>
{% endblock %}