<!DOCTYPE html>
<html>
<head>
    <title>{{ post.post_title }} - My Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
</head>
<body>
    {% include 'topbar.html' %}

    <div class="container">
        <section class="post">
            <h1 class="post-title">{{ post.post_title }}</h1>
            <p class="post-date">Posted by {{ post.post_author }} {{ post.post_created }}</p>
            <div class="post-body">
                {{ post.post_body | safe }}
            </div>
            
            {% if g.user == post.post_author %}
            <a href="{{ url_for('posts.edit', url_slug=post.post_url_slug) }}" class="edit-button">Edit</a>
            {% endif %}
        </section>
    </div>

</body>
</html>
