/* Top Bar Styles */
/* ... (your existing styles for the top bar) ... */

/* Register Form Styles */
.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.register-form {
    max-width: 400px; /* Adjust the maximum width of the register form */
    background-color: #fff; /* White background for the register form */
    border: 1px solid #e1e1e1; /* Light gray border around the register form */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.register-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; /* Dark gray color for the register title */
}

.register-input {
    font-size: 16px;
    color: #333; /* Dark gray color for the input text */
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border for the inputs */
    border-radius: 5px;
}

.register-button {
    padding: 10px 20px;
    background-color: #0079d3; /* Reddit's blue color for the register button */
    color: #fff; /* White text color for the register button */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    font-size: 14px;
    color: #666; /* Medium gray color for the login link text */
    margin-top: 10px;
}

.login-link a {
    color: #0079d3; /* Reddit's blue color for the login link */
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline; /* Underline the login link on hover */
}